<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope" style="margin-right: 8px;"></i>Send me an email
            </a>
            <a id="contact-button" href="http://www.linkedin.com/in/{{site.linkedin_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-linkedin" style="margin-right: 8px;"></i>My LinkedIn
            </a>
            <a id="contact-button" href="http://www.github.com/{{site.github_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-github" style="margin-right: 8px;"></i>My GitHub
            </a>            
            {% endunless %}
            <hr>
        </div>
    </div>
</section>
