<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}
  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">
        <a href="{{ page.url | relative_url }}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{ page.title }}</h1>
        </a>
        <hr class="has-background-black">
        <div class="columns is-variable is-5 has-text-centered">
          <div class="column is-6">
            <div style="text-align: center;">
              <img src="{{ page.post-image }}" alt="{{ page.title }}" id="post-image">
            </div>
          </div>
          <div class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile" style="text-align: left;">
            {% unless page.description.size == 0 %}
            <p id="description" class="content is-small has-text-weight-medium is-uppercase">
              {{ page.description | strip | strip_html | strip_newlines }}
            </p>
            <p class="subtitle is-uppercase is-6 has-text-weight-normal has-text-black-ter">LAB LINK: 
              <b><a href="{{ page.enlace | escape }}" target="page.enlace">{{ page.title }}</a></b>
            </p>
            {% endunless %}
            <!-- Dificultad -->
            <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter">Difficulty: 
              <b>
                <span class="tag difficulty {{ page.difficulty | downcase }}">
                  {{ page.difficulty }}
                </span>
              </b>
            </p>

            <!-- Sistema Operativo -->
            {% if page.os %}
            <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter">Operating System: 
              <b>{{ page.os }}</b>
            </p>
            {% endif %}

            <!-- Skills -->
            {% if page.skills %}
            <p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-black-ter">Skills: 
              <b>{{ page.skills | join: ', ' }}</b>
            </p>
            {% endif %}
          </div>
        </div>
        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile post-body">
          <p>{{ content }}</p>
        </div>
        {% unless site.disqus-shortname == "" %}
        <div class="disqus-comments" id="disqus_thread"></div>
        {% endunless %}
      </div>
    </div>
  </section>
  {% include footer.html %}

  <!-- Modal -->
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
  </div>

  <!-- Prism.js Script -->
  <script src="../prism.js"></script>
  <script>
    function copyToClipboard(event) {
      const button = event.target;
      const codeContainer = button.closest('.code-container');
      const codeElement = codeContainer.querySelector('code');
    
      if (!codeElement) {
        console.error('No se encontró el elemento <code> para copiar.');
        return;
      }

      const code = codeElement.textContent;

      navigator.clipboard.writeText(code).then(() => {
        button.textContent = 'Copied!';

        setTimeout(() => {
          button.textContent = 'Copy';
        }, 2000); // 2000 ms = 2 segundos

      }).catch(err => {
        console.error('Error al copiar al portapapeles: ', err);
      });
    }

    document.querySelectorAll('.copy-button').forEach(button => {
      button.addEventListener('click', copyToClipboard);
    });

    function openModal(imgSrc) {
      var modal = document.getElementById("myModal");
      var modalImg = document.getElementById("img01");

      modal.style.display = "block";
      setTimeout(function() {
        modal.classList.add('show');
      }, 10); // Delay to trigger the animation
      modalImg.src = imgSrc;
    }

    function closeModal(event) {
      if (event) event.stopPropagation();
      var modal = document.getElementById("myModal");
      modal.classList.remove('show');
      setTimeout(function() {
        modal.style.display = "none";
      }, 300); // Match this duration with the CSS animation duration
    }

    window.onclick = function(event) {
      var modal = document.getElementById("myModal");
      if (event.target == modal) {
        closeModal();
      }
    }
  </script>
</body>
</html>
